body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #254336;
}
canvas {
    border: 1px solid black;
    background-color: #ffff;
}
.controls {
    margin-bottom: 10px;
}