.body , html{
    background-color: #B5707C;
    margin: 0;
}
.container, h1, #color, .buttons, .notes, .allNotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(61, 61, 61);
}


#note, #noteTitle{
    background: white;
    margin: 10px;
    padding: 50px;
    border: 1px #ccc dotted;
    border-radius: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#deleteBtn{
    background-color: red;
    color: white;
    border: 10px, black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    display: inline-flex;
}

#deleteBtn:hover{
    background-color: darkred;
}

#addNoteBtn{
    background-color: rgb(4, 197, 4);
    color: white;
    border: 10px, black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
}

#addNoteBtn:hover{
    background-color: darkgreen;
}

#clearNotesBtn{
    background-color: rgb(7, 125, 221);
    color: white;
    border: 10px, black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
}
#clearNotesBtn:hover{
    background-color: lightblue;
}

.deleteNoteBtn{
    background-color: red;
    color: white;
    border: 10px, black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

.deleteNoteBtn:hover{
    background-color: darkred;
}

.pinezka-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  .pinezka-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .pinezka-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .pinezka-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .pinezka-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .pinezka-checkbox .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  